<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat code coverage">
        <Configuration>
          <Format>cobertura,json</Format>
          <Include>[*]VirtualAssistant.*</Include>
          <Exclude>[xunit.*]*,[*.Tests*]*,[Microsoft.*]*,[System.*]*</Exclude>
          <ExcludeByFile>**/Program.cs,**/*.Designer.cs,**/AssemblyInfo.cs</ExcludeByFile>
          <IncludeDirectory>./VirtualAssistant.Core/</IncludeDirectory>
          <IncludeDirectory>./VirtualAssistant.Services/</IncludeDirectory>
          <SingleHit>false</SingleHit>
          <UseSourceLink>true</UseSourceLink>
          <SkipAutoProps>false</SkipAutoProps>
          <DeterministicReport>false</DeterministicReport>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>